  {% load static %}
    {% block footer %}
          <div class="footer-copyright grey lighten-3">
            <div class="container">
              <span class="grey-text text-darken-1 ">© 2020 Copyright {% include "_brandname.html" %}</span>
              <span class="grey-text text-darken-1 right">
                <a href="https://www.sudouest.fr/2018/12/24/band-aqui-une-nouvelle-page-5681772-2934.php" target="blank" class="valign-wrapper grey-text text-darken-1">
                  Vu dans "Sud-Ouest"<i class="material-icons red-text">play_arrow</i>
                </a>
              </span>
            </div>
          </div>
    {% endblock %}